.btn-accueil {
  text-decoration: none;
  font-size: 15px;
  color:#424242;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.btn-accueil:hover{
  color: #FCD338;
}

.articles_card_photo img{
  width: 60%;
  height: 50%;

}
.article_card{
  transition: transform 1s;
  width: auto;
  display: grid;
  grid-auto-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  // row-gap: 2vw;
  grid-gap: 2vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  justify-content: center;
  align-content: center;
}

.articles_card_photo{
  grid-column: 1/ span 2;
  grid-row: 2 ;
}

.articles_card_photo img{
  width: 100%;
  height: auto;

}

.articles_card_title {
  grid-column: 1/ span 2;
  grid-row: 1;
  text-align: center;
  color:#424242;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.articles_card_description{
  grid-column: 1/ span 2;
  grid-row: 3;
}

.captures_ecran{
  grid-column: 1/ span 2;
  grid-row: 4;
}
