nav {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid  #aaa
}

// nav{
//  height: 70px;
//  width: 100%;
//  background: white;
//  border-bottom: 1px solid  #aaa;
//  }



.logo-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 50px;
  z-index: 25;
  display: none;
}

.style_logo{
  position: absolute;
  left: 20px;
  width: 100px;
}


.liste-nav {
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  z-index: 20;
}

// .list-nav{
//   width: 100%;
//   text-align: center;
// }



.item-nav {
  display: flex;
  align-items: center;
  margin: 0 10px;
  line-height: 70px;
}

// .item-nav {
//   display: inline-block;
//   line-height: 70px;
//   margin: 0 10px;
//   cursor: pointer;
// }


.item-nav a {
  font-size: 22px;
  color:#424242;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-decoration: none;
  margin: 0 20px;
  text-transform: uppercase;
}

// .item-nav a {
//   text-decoration: none;
//   font-size: 25px;
//   color:#424242;
//   letter-spacing: 1px;
//   word-spacing: 2px;
// }


.item-nav a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0%;
  margin: -15px auto 0 auto;
  border-radius: 2px;
  height: 2px;
  background: #FCD338;
  transition: width 0.2s ease-in-out;
}


// .item-nav::after {
//   content: "";
//   display: block;
//   width: 0px;
//   margin: -15px auto 0 auto;
//   height: 2px;
//   border-radius: 2px;
//   background: #FCD338;
//   transition: width 0.2s ease-out;
// }


.item-nav a:hover::after {
  width: 100%;
  color: #FCD338;
  text-decoration: none;
}


// .item-nav:hover::after{
//   width: 100%;
//   color: #FCD338;
//   // text-decoration: none;
// }


.item-nav a:hover{
  color: #FCD338;
  text-decoration: none;
}


@media screen and (max-width: 700px){
  .logo-menu {
      display: block;
  }
  .liste-nav {
      padding-top: 70px;
      flex-direction: column;
      height: auto;
      position: relative;
      display: none;
      background: white;
  }
  .liste-nav.active {
      display: block;
      border-bottom: 2px solid black;
  }
  .item-nav {
      height: 70px;
      justify-content: center;
  }
  .style_logo{
    width: 80px;
  }
  .item-nav a {
    font-size: 15px;
  }
}



// .style_logo{
//   position: absolute;
//   left: 20px;
//   width: 100px;
// }








// .btn-toggle-container {
//   position: absolute;
//   top: 15px;
//   right: 15px;
//   cursor: pointer;
//   display: none;
// }

// .btn-toggle-container img {
//   width: 40px;
// }





// @media screen and (max-width: 650px) {
//   .btn-toggle-container {
//       display: block;
//   }
//   nav {
//       border-bottom: 1px solid white;
//   }
//   .list-nav {
//       position: relative;
//       top: 70px;
//       display: none;
//   }
//   .item-nav {
//       display: block;
//       background-color: white;
//       margin: 0;
//   }
//   .list-nav.active-menu {
//       display: block;
//   }

// }
