<div class="footer">

    <div class="footer-links">
          <a href="https://github.com/lisasczi" target="_blank"><%= image_tag("navbar/github.svg") %></a>
          <a href="https://www.linkedin.com/in/lisa-scanzi/" target="_blank"><%= image_tag("navbar/linkedin.svg") %></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i>
    </div>
</div>
