<div class="container">
  <%= image_tag("portrait.jpg", :class =>"portrait")%>
  <h1>Qui suis je?</h1>
    <h3> Avant tout, une reconversion professionnelle...</h3>
        <p>Infimière pendant neuf ans, j'ai décidé début 2022 d'entammer une reconversion dans le milieu de la tech et plus précisemment comme développeuse web !
        J'ai donc débuté ce projet en m'inscrivant au bootcamp au Wagon Lyon.
        La formule du bootcamp permet de voir énormément de nouveaux concepts en minimum de temps mais la manière d'enseigner au Wagon nous permet de ne pas être perdu. J'ai adoré ces neuf semaines, c'était à la fois intense et tellement enrichissant.
        Je termine le bootcamp en décrochant la certification de <i>"conceptrice - développeuse d'application web"</i>.</p>
    <h3> Et après?</h3>
      <p>Une fois le bootcamp terminé il a fallu ne pas perdre les bonnes habitudes prises pendant ces neuf semaines. J'ai donc continué de me former sur des techno où j'étais un peu moins à l'aise comme le JavaScript. Grace à Code Academy et Udemy j'ai pu acquérir en compétence. Je trouve qu'il est plus facile  d'avancer de manière autonome après le bootcamp car le Wagon nous a apporté une bonne méthode de travail et nous inciter à chercher par nous même sur Google.
      Pour m'entrainer, j'ai reconstitué en rails le site d'une amie qui avait été initialement développé en no code. Cet exercice m'a permis de reprendre seule la création d'un site de A à Z, que ce soit le back ou le front. Ce premier projet a été très enrichissant car je n'avais jamais développé seule.</p>
      <h3> Et maintenant?</h3>
      <p>Je recherche activement un poste fullstack dans une entreprise développant sur ruby and rails. J'aime particulièrement ce framework car je le trouve accessible, très développé et très lisible grâce à son écriture qui ressemble énormément à de l'anglais. </p>
</div>
