.section-contact h1 {
  text-align: center;
}

.formulaire {
    margin: 0 auto;
    width: 70%;
}

.form-bloc{
  margin-left: 15%;
}

.form-group {
  position: relative;
  margin-bottom: 40px;
}

.form-group label{
  color: #aaa;
  font-size: 16px;
}

.form-group input {
  display: block;
  width: 80%;
  padding: 10px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid #aaa;
  color: #666;
  font-size: 16px;
}

textarea {
  width: 80%;
  height: 100px;
  border: none;
  border: 2px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  outline: none;
  font-size: 16px;
  background-color: #f1f1f1;
}

.form-group:nth-child(4){
  margin-bottom: 25px;
}

.form-group .button-sub {
  text-align: center;
  display: block;
  width: auto;
  padding: 15px 40px;
  margin: 0 40%;
  border: 3px solid rgb(144, 144, 144);
  border-radius: 9999px;
  background-image: linear-gradient(to right, transparent 50%, rgb(253, 232, 173) 50%, rgb(255, 187, 0));
  background-size: 200%;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

}

.form-group .button-sub:hover {
  color: #fff;
  background-position: 100%;
  border: 3px solid #fff;
}

@media screen and (max-width: 1300px) {
  .container h1 {
    padding: 70px 0 0 0;
  }
  .formulaire {
    padding-left: 0;
  }
}
